/* 隐藏移动端 */
@media screen and (max-width: 868px) {
    .hide-on-mobile {
        display: none !important;
    }
}

.header-custom .main-title {
    font-size: 2em; 
    font-weight: bold; 
    margin-top: 10px; 
    margin-bottom: 5px; 
}

.footer {
    display: none;
}