/* 自定义侧边栏顶部样式 */
.wy-side-nav-search {
    background-color: #3578C6 !important; /* 背景颜色 */
    padding: 15px; /* 内边距 */
    text-align: center; /* 居中对齐 */
}

.wy-side-nav-search h2 {
    color: white; /* 标题字体颜色 */
    margin-top: 10px;
}

/* 图标导航 */
.wy-side-nav-search img {
    width: 25px;
    height: 25px;
    margin: 0 10px; /* 图标间距 */
}

/* 给侧边栏导航目录留出空间 */
.wy-menu-vertical {
    margin-top: 10px; /* 与顶部内容分隔 */
}
